body{
	background-image: url("img/background/typewriter.jpg");
	background-size: cover;
	background-attachment: fixed
}

nav{
	font-family: 'Dosis', sans-serif;
	margin-bottom: 50vh;
}

p{
	font-size: x-large;
	font-family: 'Gaegu', cursive;
}

footer{
	margin-top: 50vh;
}

.icones{
	width: 35px;
}

.row{
	padding: 60px 0px;
}